{%extends 'product/base.html'%}
{% block content%}
{% load static%}

<!-- Product -->

<div class="product">
  <div class="product_container">
  <div class="product_title">
  <div class="photo">
        <div class="main-img">
          <img src="{{object.image_big_1.url}}" id="current2">
        </div>

        <div class="imgs2">
          {% if object.image_big_1 %}
              <img src="{{object.image_big_1.url}}">
          {% endif%}
          {% if object.image_big_2 %}
              <img src="{{object.image_big_2.url}}">
          {% endif%}
          {% if object.image_big_3 %}
              <img src="{{object.image_big_3.url}}">
          {% endif%}
          {% if object.image_big_4 %}
              <img src="{{object.image_big_4.url}}">
          {% endif%}
          {% if object.image_big_5 %}
              <img src="{{object.image_big_5.url}}">
          {% endif%}
          {% if object.image_big_6 %}
              <img src="{{object.image_big_6.url}}">
          {% endif%}
          {% if object.image_big_7 %}
              <img src="{{object.image_big_7.url}}">
          {% endif%}
          {% if object.image_big_8 %}
              <img src="{{object.image_big_8.url}}">
          {% endif%}




        </div>

      </div>
    <div class="photo_title">
          <h1>{{object.title}}</h1>
          <p>Price: ${{object.price}}</p>
    </div>
  </div>
  </div>
  <div class="product_container">
  <div class="product_description">
    <h3>Description</h3>
    <p>{{object.description}}</p>
  </div>
  </div>
</div>

<!-- Product -->
<!-- Footer -->
<footer>
<div class="location">
  <h2>Location</h2>
  <p>Our collection and showroom is available at our East Cobb location</p>
  <p>4651 Woodstock Rd #207, Roswell, GA 30075</p>
</div>
<div class="contact">
  <h2>Contact Us</h2>
  <p>770-643-9066</p>
  <p>djdiamonds@bellsouth.net</p>
</div>
<div class="socials">
  <h2>Socials</h2>
  <a><i class="fab fa-facebook"></i></a>
  <a><i class="fab fa-twitter"></i></a>
  <a><i class="fab fa-instagram"></i></a>
</div>
</footer>
<!-- Footer -->
<!-- copyright -->
<div class="copyright">
  <p>	&copy;Copyright 2019</p>
</div>
<!-- copyright -->
<!-- nav up -->
<div id="up" class="nav_up">
  <a href="#catch"><i class="fas fa-arrow-circle-up"></i></a>
</div>
<!-- scripts -->
<script src="https://kit.fontawesome.com/d43fb7b338.js" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- scripts -->
<script type="text/javascript">
$('.owl-carousel').owlCarousel({
  margin:10,
  loop:true,
  autoWidth:true,
  nav:true,
  navText : ['<i class="fa fa-angle-left left_carousel" aria-hidden="true"></i>','<i class="fa fa-angle-right right_carousel" aria-hidden="true"></i>'],
  items:4
})

// -----------------------------------------

const current = document.querySelector('#current2');
const imgs = document.querySelector('.imgs2');
const img = document.querySelectorAll('.imgs2 img');
const opacity = 0.6;

// Set first img opacity
img[0].style.opacity = opacity;

imgs.addEventListener('click', imgClick);

function imgClick(e) {
  // Reset the opacity
  img.forEach(img => (img.style.opacity = 1));

  // Change current image to src of clicked image
  current.src = e.target.src;

  // Add fade in class
  current.classList.add('fade-in');

  // Remove fade-in class after .5 seconds
  setTimeout(() => current.classList.remove('fade-in'), 500);

  // Change the opacity to opacity var
  e.target.style.opacity = opacity;
}
// ------------------------------------------------------------------

// document.querySelector('.toggle_bar').addEventListener('click',()=>{
//
//   var element = document.querySelector('.menu_m');
//   element.classList.toggle("height");
//
// })
var toggleButton  = document.querySelector('.toggle_bar')
var navbarlinks  = document.querySelector('.menu_m')


toggleButton.addEventListener('click',()=>{
	if(navbarlinks.classList.toggle('active')){
		navbarlinks.style.marginTop="0"
	}
	else{
		navbarlinks.style.marginTop="-375px"
	}
})
//-----------------------------------------------------------------






</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
</html>
{% endblock content%}
